<html lang="en-gb">
  <%- include('_head') -%> <%- include('_header') -%>
  <body>
    <h1>Posts</h1>
    <a href="/posts/create">New Post</a>
    <button id="new-colour-button">Change colour</button>
    <ol class="postContainer">
      <% results.forEach(function(post) {%>

      <li class="post">
        <div class="imageContainer">
          <img src="<%= post.imageUrl %>" alt="" />
        </div>

        <h2><%= post.postedBy.name %></h2>
        <p><%= post.createdAt.split(' ')[0] %></p>
        <p><%= post.message %></p>

        <section>
          <h3>Liked by:</h3>
          <ul>
            <% post.likedBy.forEach(function(person) {%>
            <li><%= person.name %></li>
            <% }); %>
          </ul>
        </section>

        <% if (!post.likedBy.find(p => p.id === 1) && !post.dislikedBy.find(p =>
        p.id === 1)) { %>
        <form method="post" action="/posts/<%= post.id %>/like/">
          <button>👍</button>
        </form>
        <form method="post" action="/posts/<%= post.id %>/dislike/">
          <button>👎</button>
        </form>
        <% } %>

        <section>
          <h3>Disliked by:</h3>
          <ul>
            <% post.dislikedBy.forEach(function(person) {%>
            <li><%= person.name %></li>
            <% }); %>
          </ul>
        </section>
      </li>
      <% }); %>
    </ol>
    <%if (next) { %>
    <a href="<%= next %>">Next</a>
    <% } %> <%if (previous) { %>
    <a href="<%= previous %>">Previous</a>
    <% } %>
    <script>
      const changeColourButton = document.getElementById("new-colour-button");
      const posts = document.getElementsByClassName("post");
      console.log(posts[0].style.backgroundColor);
      for (let i = 0; i < posts.length; i++) {
        posts[i].style.backgroundColor = "red";
      }
    </script>
  </body>
  <%- include('_footer') -%>
</html>
