<html lang="en-gb">
  <%- include('_head') -%> <%- include('_header') -%>
  <body>
    <div class="flex-container">
      <img class="profile-img" src="<%= profileImageUrl %>" alt="" />
      <div>
        <h1 class="profile-name"><%= name %></h1>
        <p class="profile-username"><%= username%></p>
        <p class="profile-email"><%= email%></p>
      </div>
    </div>
  </body>
  <%- include('_footer') -%>
</html>
